*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
    display: grid;
    grid-template-rows: auto 130vh auto; /*100vh middle space for content*/
}
*{
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
}

/*display the nav bar in a row*/
nav {
    display: flex;
    justify-content: space-between;
    background-color: dimgray;
}
.logo{
    color:rgb(224, 147, 182);
    font-size: 43px;
    /*text-align: left;*/
    left: 10px;
    font-weight: bold;
    /*text-decoration: none;*/
}
.logo a, nav a{
    text-decoration: none;
}
 .shopnow a, #homedes a{
    text-decoration: none;
}
/*removing bullets and stuff from the default ul list setting*/
ul{
    list-style-type: none;
    margin-left: auto; /*pushes content far from the left. it will display on the right side*/
    padding: 0;
    height: 60px;
    display: flex;
}
/*styling the words and making a clickable box with a width*/
li a{
    display: block;
    padding: 20px 20px;
    color: antiquewhite;
    text-decoration: none;

}
li a:active{
    background-color: rgb(169, 12, 91);
}
li a:hover{
    background-color: black;
}

#homedes{
    padding: 80px;
    padding-left: 100px;
    font-size: larger;
    
}
footer{
    text-align: center;
    background: dimgray;
    color: antiquewhite;
}
.image{
    height: 300px;
    display: flex;
    justify-content: flex-end; /*puts image and far end of page. there are many ways to do this like float: right as well*/
}
.image img {
    position: relative; /*set position relative so we can move it around*/
    top: -60%;
    right: 30%;
}
.image2 {
    height: 300px;
    display: flex;
    justify-content: flex-end;

}
.image2 img{
    position: relative; /*set position relative so we can move it around*/
    top: -60%;
    right: 10%;

}
.shopnow{
    height: 42px;
    width: 100px;
    background-color:black ;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    color: antiquewhite;
}
/* Display - flex */
#products, .button{
    display: flex;
}
#products {
    justify-content: space-around;
    flex-wrap: wrap;
}
.button{
    display: flex;
    justify-content: space-evenly;
}
.button button {
    background-color: rgb(134, 119, 119);
    color: antiquewhite;
    border-radius: 10px;
    width: 100px;
}
.item {
    text-align: center;
}
.aboutSec{
    width: 100%;
    top: 3%;
    text-align: center;
    position: relative;
}
@keyframes slideUp {
    from { transform: translateY(700px);

    }

    to{ transform: translateY(0);

    }
}
#waw{
    animation-name: slideUp;
    animation-duration: 1.1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
}
@keyframes slideUpp1 {
    from { transform: translateY(700px);

    }

    to{ transform: translateY(0);

    }
}
#pwaw{
    animation-name: slideUpp1;
    animation-duration: 1.2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
}
@keyframes slideUph2 {
    from { transform: translateY(700px);

    }

    to{ transform: translateY(0);

    }
}
#abouth2{
    animation-name: slideUph2;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
}
@keyframes slideUpos {
    from { transform: translateY(700px);

    }

    to{ transform: translateY(0);

    }
}
#os{
    animation-name: slideUpos;
    animation-duration: 1.3s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
}
@keyframes slideUppos {
    from { transform: translateY(700px);

    }

    to{ transform: translateY(0);

    }
}
#pos{
    animation-name: slideUppos;
    animation-duration: 1.4s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
}
@keyframes slideUpca {
    from { transform: translateY(700px);

    }

    to{ transform: translateY(0);

    }
}
#ca{
    animation-name: slideUpca;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
}
@keyframes slideUppca {
    from { transform: translateY(700px);

    }

    to{ transform: translateY(0);

    }
}
#pca{
    animation-name: slideUppca;
    animation-duration: 1.6s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
}
.details {
    position: relative;
    top: 25%;
    float: right;
    right: 20%;
}
.contacts {
    position: relative;
    top: 20%;
    left: 15%;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.contact-box {
    width: 400px;
    background-color: dimgray;
    color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
}
form {
    width: 100%;
}
.button-wrapper button{
    width: 100px;
    height: 30px;
    color: antiquewhite;
    background-color: black;
    border-radius: 10px;
}
#msg {
    border-radius: 10px;
}
#fname {
    border-radius: 10px;
}
#emailad {
    border-radius: 10px;
}



